.quote-box-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 600px;
    width: 1200px;
}
#quote-box {
    padding: 6px;  
}
#new-quote {
    margin: 12px;
}